<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	<!-- 数据库连接配置 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:datasource/sql_conn_jdbc.properties</value>
			</list>
		</property>
	</bean>

    <!-- 对标注@Transactional注解的Bean进行加工处理，以织入事务管理切面 -->
    <tx:annotation-driven/>
    
	<!--MySQL数据源-->
	<bean id="mysqlDataSource"
		class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${mysql.driverClassName}" />
		<property name="url" value="${mysql.url}" />
		<property name="username" value="${mysql.username}" />
		<property name="password" value="${mysql.password}" />
	</bean>

	<!--mySqlMapClient--> 
	<bean id="mySqlMapClient" 
		class="org.springframework.orm.ibatis.SqlMapClientFactoryBean"> 
		<property name="configLocation"> 
		 <value>classpath:datasource/sql_conn_mysql.xml</value> 
		</property> 
		<property name="dataSource"> 
		 <ref bean="mysqlDataSource"/> 
		</property> 
	</bean>
</beans>